/*=============== FONTS ===============*/
@font-face {
    font-family: 'ITC Avant Garde';
    src: url('../public/fonts/ITC\ Avant\ Garde\ Gothic\ LT\ Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../public/fonts/NeueMontreal-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/*=============== VARIABLES CSS ===============*/
:root {
    /*========== Background/Text Color ==========*/
    --primary-color: #1D1D1B;
    --secondary-color: #F0F2F1;
    --tertiary-color: #D9D9D9;
    --hue: 14;

    /*========== Font and Typography ==========*/
    --title-font: 'ITC Avant Garde', sans-serif;
    --body-font: 'Neue Montreal', sans-serif;
    --h1-font-size: 3em;
    --biggest-font-size: 2.4rem;
    --big-font-size: 1.8rem;
    --medium-font-size: 1.4rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .8rem;

    /*========== Font Weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-black: 900;

    /*========== Margenes Bottom ==========*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-4: 4rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*=============== BASE ===============*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

/*=============== REUSABLE CSS CLASSES ===============*/

.container {
    display: flex;
    flex-direction: column;
    margin: var(--mb-2) auto;
}

.title, .second__title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -2.5px;
    font-family: var(--title-font);
    font-size: var(--biggest-font-size);
    color: var(--primary-color);
}

.thead__container {
    background-color: var(--primary-color);
}

th {
    padding: 10px;
    color: var(--secondary-color);
    text-transform: uppercase;
}

tbody {
    text-align: center;
    background-color: var(--tertiary-color);
}

td {
    padding: 5px 0;
}

.button {
    background-color: var(--tertiary-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-family: var(--body-font);
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.button__container {
    display: flex;
    justify-content: center;
    gap: 3px;
    margin-bottom: var(--mb-4);

}

.hidden__container {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.content__image {
    width: 50px;
    height: auto;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.hidden {
    display: none;
}

#formsContainer {
    display: none;
}

.input__value {
    border-bottom: 2px solid #1D1D1D;
    border-top: none;
    border-right: none;
    border-left: none;
}

.input__value, .image__value {
    padding: 15px 0 5px 0;
}

@media screen and (max-width: 768px) {
    body {
        font-size: var(--smaller-font-size);
    }

    .container {
        width: 99%;
    }

    .title {
        font-size: var(--big-font-size);
    }

    .button {
        font-size: var(--smaller-font-size);
        padding: 10px 18px;
    }

    .second__title {
        font-size: var(--medium-font-size);
    }

    .hidden__container {
        flex-direction: column;
        padding: 30px;
        
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        font-size: var(--normal-font-size);
    }

    .container {
        width: 97%;
    }

    .button {
        font-size: var(--smaller-font-size);
        padding: 10px 30px;
    }

    .second__button {
        padding: 5px 25px;
        font-size: var(--normal-font-size);
    }

    .hidden__container {
        flex-direction: column;
        padding: 30px;
    }

    .second__title {
        font-size: var(--big-font-size);
    }
}

@media screen and (min-width: 1024px) {
    body {
        font-size: var(--medium-font-size);
    }

    .container {
        width: 95%;
    }

    .button {
        font-size: var(--normal-font-size);
        padding: 15px 35px;
    }

    .hidden__container {
        flex-direction: column;
        padding: 30px;
    }

    .second__title {
        font-size: var(--big-font-size);
    }
}

@media screen and (min-width: 1567px) {
    .container {
        width: 80%;
    }

    .hidden__container {
        flex-direction: row;
        padding: 30px;
        width: 80%;
    }

    .content {
        font-size: var(--normal-font-size);
    }

    .title {
        font-size: var(--h1-font-size);
    }

    .second__title {
        font-size: var(--biggest-font-size);
    }

    .width {
        width: 150px;
    }
}
