@font-face {
    font-family: 'ITC Avant Garde';
    src: url('../public/fonts/ITC\ Avant\ Garde\ Gothic\ LT\ Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../public/fonts/NeueMontreal-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
:root {
    --title-font: 'ITC Avant Garde', sans-serif;
    --body-font: 'Neue Montreal', sans-serif;
    --h1-font-size: 3em;
    --biggest-font-size: 2.4rem;
    --big-font-size: 1.8rem;
    --medium-font-size: 1.4rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .8rem;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Neue Montreal', sans-serif;
    color: #D9D9D9;
    box-sizing: border-box;
}

body {
    background: #222220;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page-content{
    box-sizing: content-box;
    max-width: 70rem;
    padding: 1rem;
    display: grid;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: .4rem;
}

::-webkit-scrollbar-track {
    background: #8F8B8B;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;
    border-radius: 10px;
}

::-webkit-scrollbar-track:hover {
    background-color: #61615D;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #fff;
}

header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    place-items: center;
    justify-content: center;
}

header .background {
    position: absolute;
    top: 0;
    z-index: -1;
    height: 27.5rem;
    width: 100%;
}

header video {
    object-fit: cover;
    width: 100%;
}

header .background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.08), #222220 70%);
    z-index: 1;
}

header .background .background-video {
    height: 99%;
}

header .content {
    max-width: 100dvw;
    display: grid;
    justify-items: center;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon, .logout, .borrow {
    cursor: pointer;
}

.borrow:hover {
    color: #f0f2f1;
}

.hidden {
    display: none;
}
.hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 3rem;
    height: 3rem;
    z-index: 3;
    transition: ease 0.5s;
}
.hamburger div{
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    margin:0.25rem;
}
.hamburger span{
    background-color: #D9D9D9;
    width: 100%;
    height: 0.3rem;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.6s, width 0.7s;
}
.hamburger .line-1{
    transform: translate(-50%, -200%);
}
.hamburger .line-3{
    transform: translate(-50%, 100%);
}
.open .line-1{
    transform: translate(-50%, -50%) rotate(-45deg);
}
.open .line-2{
    width: 0;
}
.open .line-3{
    transform: translate(-50%, -50%) rotate(45deg);
}
.open span{
    background-color: #1D1D1B;
    transition: transform 0.6s, width 0.7s;
}
body.menu-open {
    overflow: hidden;
}

.menu * {
    color: #1D1D1B;
    font-weight: 600;
}

.menu {
    position: fixed;
    display: relative;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background-color: #F0F2F1;
    z-index: 1;
    right: -100%;
    transition: ease-in-out 0.4s;
}

.menu .container {
    height: 100%;
    padding-top: 6rem;
    display: grid;
    grid-template-rows: 75% 25%;
    justify-items: center;
}

.options,
.account {
    width: 70%;
    height: fit-content;
    display: grid;
    justify-items: start;
}

.menu ul {
    list-style: none;
}

.menu li {
    width: 100%;
    border: 2px solid #7C7C7C;
    border-width: 0 0 2px 0;
    display: flex;
    justify-content: start;
}

.menu a {
    text-decoration: none;
    text-transform: uppercase;
}

.menu .options a {
    margin: 1rem 0 0.5rem;
}

.menu .account a {
    width: 100%;
    display: flex;
    justify-content: start;
    padding: 0.5rem 0 0.5rem;
}

.menu .account .username {
    border: 2px solid #7C7C7C;
    border-width: 0 0 2px 0;
}

.account button {
    color: #F0F2F1;
    background-color: #1D1D1B;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    border-radius: 12px;
    border-width: 0;
}

.open .menu {
    right: 0;
    transition: ease-in-out 0.3s;
}

header .header {
    display: grid;
    text-align: center;
    width: 100vw;
}

header .content h1 {
    font-family: 'ITC Avant Garde', sans-serif;
    font-weight: bold;
    line-height: 95%;
    letter-spacing: -1px;
    color: #f0F2F1;
}

header .content p {
    font-weight: 400;
    letter-spacing: 0;
}

main {
    display: grid;
    position: relative;
    row-gap: 1.875rem;
    width: inherit;
}

.search {
    background: linear-gradient(#222220, #61615D);
    height: 2.75rem;
    border-style: none;
    border-radius: 10px;
    font-size: 16px;
    padding: 1rem;
}

.search::placeholder {
    color: #D9D9D9;
    letter-spacing: 0;
}

.search:focus {
    outline: none;
    border: 0.5px solid #8F8B8B;
}

.category-list {
    display: flex;
    position: relative;
    align-items: center;
    width: 100vw;
    max-width: 70rem;
    height: 2.5rem;
    overflow-x: auto;
    border: 1px solid #8F8B8B;
    border-width: 0 0 1px 0;
    text-wrap: nowrap;
}

.category-list::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
}

.category-list ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    position: absolute;
    scrollbar-width: none;
    cursor: move;
}

.category-list ul li {
    padding: 0 .75rem;
}

.category-list ul li a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    width: max-content;
}

.category-list ul li a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    width: max-content;
}

.book_section {
    display: grid;
    width: 100%;
    justify-content: space-between;
}

.book_card .book_img img {
    object-fit: cover;
    border-radius: 15px;
}

.book_card .book_info {
    display: grid;
    justify-items: start;
    letter-spacing: -1px;
    margin-top: 0.5rem;
}

.genre,
.borrow {
    color: #8F8B8B;
}

.main-title {
    text-decoration: none;
}

.book_title {
    text-align: start;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
    width: 100%;
    letter-spacing: 0;
}

.genre {
    display: flex;
    width: 100%;
    flex-direction: row;
    text-transform: uppercase;
    text-align: start;
    font-size: 14px;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
    letter-spacing: 0;
}

.borrow {
    background-color: transparent;
    border-style: none;
    font-weight: bold;
    font-size: 16px;
}

footer {
    width: 100%;
    justify-content: center;
    display: grid;
}

hr {
    width: 100%;
    margin: 1.5rem 0 0.75rem;
    border: 1px solid #8F8B8B;
    max-width: 100%;
}

footer .c2 {
    align-items: flex-end;
}

footer * {
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
}

.book_img {
    overflow: hidden;
    border-radius: .75em;
    cursor: crosshair;
}

.book_picture {
    transition: 0.4s;
}

.book_picture:hover {
    transform: scale(1.05);
}



/* .book_card:hover > .book_info > * {
    overflow:visible;
    text-wrap: wrap;
}
.book_card:hover {
    scale:1.025;
    transition: ease-in-out 0.3s;   
} */

@media screen and (min-width: 1025px) {
    body {
        font-size: var(--medium-font-size);
    }
    .button {
        font-size: var(--normal-font-size);
    }

    .second__title {
        font-size: var(--big-font-size);
    }

    .label__name {
        font-size: var(--big-font-size);
    }

    .input__value {
        font-size: var(--small-font-size);
    }
    
    header .background::after {
        background: linear-gradient(rgba(0, 0, 0, 0.1), #222220 95%);
    }

    .category-list {
        justify-content: center;
    }

    .category-list ul li a {
        font-size: 18px;
    }

    header nav {
        margin-bottom: 3.75rem;
    }

    nav h3 {
        font-size: 36px;
    }

    header .background {
        height: 38rem;
    }

    header .header {
        padding: 2.75rem 5rem 2rem;
    }

    header .content h1 {
        width: 70%;
        font-size: 60px;
        margin-bottom: 1rem;
        margin-top: 2rem;
    }

    header .content p {
        width: 55%;
        padding: 0 2rem;
        font-size: 18px;
        margin-bottom: 3rem;
    }

    .search {
        width: 28.75rem;
        margin-bottom: 3rem;
    }

    .book_section {
        grid-template-columns: repeat(4, 15.5rem);
        justify-content: space-between;
        row-gap: 2rem;
    }
    .genre {
        display: block;
        width: 15.5rem;
        text-transform: uppercase;
        text-wrap: nowrap;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .book_card {
        width: 15.5rem;
        max-width: 15.5rem;
    }

    .book_card img {
        object-fit: cover;
        width: 100%;
        height: 23rem;
    }

    footer {
        grid-template-columns: repeat(4, 25%);
        margin-top: 7.25rem;
    }

    footer * {
        font-size: 14px;
    }

    .pc {
        display: none;
    }

    footer .r1 {
        align-items: flex-start;
    }

    footer .r2 {
        align-items: flex-end;
    }

    hr {
        grid-column: 1 / 5;
    }

    .menu {
        width: 30rem;
    }

    .menu .account .username {
        font-size: 14px;
    }

    .account button {
        font-size: 14px;
    }
}

@media screen and (max-width: 1024px) {
    body {
        font-size: var(--normal-font-size);
    }

    .button {
        font-size: var(--smaller-font-size);
    }

    .second__button {
        font-size: var(--normal-font-size);
    }

    .page-content{
        width: 90vw;
    }
    header .background::after {
        background: linear-gradient(rgba(0, 0, 0, 0.08), #222220 90%);
    }

    .category-list {
        justify-content: start;
    }

    .category-list ul {
        left: 0;
        padding-right: 5rem;
    }

    .category-list ul li a {
        font-size: 16px;
    }

    header nav {
        margin-bottom: 4rem;
    }

    .search {
        width: 19.75rem;
        margin-bottom: 3rem;
    }

    header .background {
        height: 32.75rem;
    }

    nav h3 {
        font-size: 28px;
    }

    header .background {
        height: 32.75rem;
    }

    header .header {
        padding: 1rem 4rem 2rem;
    }

    header .content h1 {
        font-size: 45px;
        padding: 0 4rem;
        margin-bottom: 1rem;
    }

    header .content p {
        font-size: 16px;
        padding: 0 6rem;
        margin-bottom: 3rem;
    }

    .category-list ul li {
        font-size: 18px;
    }

    .book_card .book_img img {
        width: 100%;
        height: 31.5rem;
    }

    .book_section {
        grid-template-columns: repeat(2, 48%);
        row-gap: 2rem;
        max-width: 90vw;
    }

    .book_card {
        width: 100%;
    }

    footer {
        grid-template-columns: repeat(2, 50%);
        margin-top: 1.5rem;
    }

    footer * {
        font-size: 14px;
    }

    .pc {
        display: block;
    }

    footer .c2 {
        align-items: flex-end;
    }

    hr {
        grid-column: 1 / 3;
    }

    .menu {
        width: 20.75rem;
    }

    .menu .options a {
        font-size: 1rem;
    }

    .menu .account .username {
        font-size: 12px;
    }

    .account .logout {
        font-size: 16px;
        box-shadow: none;
    }

    .hamburger .icon {
        height: 2rem;
        width: 2rem;
    }
}

@media screen and (max-width: 767px) {
    body {
        font-size: var(--smaller-font-size);
    }

    .title {
        font-size: var(--big-font-size);
    }

    .button {
        font-size: var(--smaller-font-size);
    }

    .second__title {
        font-size: var(--medium-font-size);
    }

    header .background::after {
        background: linear-gradient(rgba(0, 0, 0, 0.08), #222220 75%);
    }

    .category-list ul {
        padding-right: 3rem;
    }

    .category-list ul li a {
        font-size: 14px;
    }

    .search {
        width: 100%;
        margin-bottom: 0;
    }

    nav h3 {
        font-size: 24px;
    }

    .header nav{
       margin-bottom: 2.25rem; 
    }
    header .header {
        padding: 2rem 1.25rem 2.5rem;
    }

    header .content h1 { 
        padding: 0 1.5rem;
        margin-bottom: 1rem;
        font-size: 32px;
    }

    header .content p {
        padding: 0 2rem;
        font-size: 12px;
    }

    .category-list ul li {
        font-size: 14px;
    }

    .book_section {
        grid-template-columns: 100%;
        width: inherit;
    }

    .book_card .book_img img {
        height: 34rem;
        width: 100%;
    }

    footer {
        grid-template-columns: repeat(2, 50%);
    }

    footer * {
        font-size: 12px;
    }

    .menu {
        width: 100%;
    }

    .menu .options a {
        font-size: 0.8rem;
    }

    .menu .account .username {
        font-size: 12px;
    }

    .menu .account .password {
        font-size: 12px;
    }

    .hamburger .icon {
        height: 1.75rem;
        width: 1.75rem;
    }
}

@media screen and (min-width: 1567px) {
    .content {
        font-size: var(--normal-font-size);
    }

    .title {
        font-size: var(--h1-font-size);
    }

    .second__title {
        font-size: var(--biggest-font-size);
    }

    .label__name {
        font-size: var(--medium-font-size);
    }
    header .content p {
        width: 55%;
    }

    header .content h1 { 
        width: 100%;
        margin-top: 50px;
    }

    .hamburger .icon {
        width: 1.4em;
    }
    .menu .options a{
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 1700px) {
    header .content p {
        width: 50%;
    }

    header .content h1 { 
        width: 100%;
        margin-top: 70px;
        font-size: 3.6em;
    }
}


