@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;

}
body{
    background: #1D1D1D;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100dvw;
    height: 100dvh;
}
.container{
    background-color: transparent;
    position: relative;
}
.container span{
    font-size: 12px;
}
.container input, a, button, h1, h5, label{
    color: #D9D9D9; 
}
.container, button, h5, label{
    letter-spacing: -1px;
}
.container button{
    background-color: transparent;
    font-size: 22px;
    padding: 10px 25px;
    border: 1px solid transparent;
    border-radius: 20px;
    font-weight: 500;
    margin: 1.4rem 0.375rem 0.3em 0;
    cursor: pointer;
}
.container button.active{
    background-color: #D9D9D9;
    font-weight: normal;
    color: #1D1D1D;
}
.container button.signUpForm{
    border-color: #D9D9D9;
}
.button-area{
    display: flex;
    flex-direction: row;
}
.container form{
    background-color: transparent;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.container form h1{
    font-size: 64px;    
    line-height: 95%;
    margin-bottom: 0.5rem;
    letter-spacing: -3px;
}
.container form h5{
    margin-bottom: 2rem;
    font-size: 28px;
    font-weight: 100;
    width: 35rem;
}
.container form label{
    font-size: 28px;
}
.container input{
    background-color: transparent;
    border-color: #8F8B8B;
    border-width: 0 0 1px 0;
    padding: 8px 0 ;
    margin: 0 0 1rem 0;
    font-size: 18px;
    width: 17.5rem;
    outline: none;
    width: 100%;
}
.form-container{
    position: absolute;
    transition: all 0.5s ease-in-out;
}
.container .form-card{
    display: grid;
}
.logInForm{
    height: fit-content;
    opacity: 0;
}
.container.active .logInForm{
    opacity: 1;
}
.signUpForm{
    height: fit-content;
    opacity: 1;
}
.container.active .signUpForm{
    opacity: 0;
}
.toggle-container{
    position: absolute;
    overflow: hidden;
    z-index: 1000;
}
.toggle{
    background: #D9D9D9;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}
.example::-webkit-scrollbar {
    display: none;
}
/* vertical slide */
@keyframes slideD{
    from{top: var(--start);}
    to{top: var(--end)}
}
@keyframes slideU{
    from{top: var(--end)}
    to{top: var(--start)}
}
@media screen and (min-width: 1025px) {
    /* horizontal slide */
    @keyframes slideR{
        from{right: 50%;}
        to{right: 0;}
    }
    @keyframes slideL{ 
        from{right: 0;}
        to{right: 50%;}
    }
   body{
        flex-direction: column;
   }
   .container{
        width: 77rem;
        height: 29.5rem;
        min-height: 480px;
   }
   .toggle-container{
        right: 2rem;
        width: 38.5rem;
        height: 100%;
        animation: slideR 0.7s forwards;
   }
   .container.active .toggle-container{
        animation: slideL 0.7s forwards;
    }
    .toggle{
        width: 100%;
    }
    .logInForm{
        width:38.5rem;
        left: 50%;
        padding-left: 2rem;
    }
    .signUpForm{
        width:38.5rem;
        right: 50%;
    }
   .container .form-card{
        grid-template-columns: 15rem 15rem;
        column-gap: 2.5rem;
    }
    .container input{
        max-width: 18rem;
    }
}
@media screen and (max-width: 1024px){
    :root{
        --start:3.75rem;
        --end:32em;
    }
    body{
        flex-direction: row;
    }
    .container{ 
        overflow: hidden;
        height: 100%;
        width: 42rem;
       }
    .toggle-container{
        height: 25rem;
        width: 100%;
        top: 3.75rem;
    }
    .toggle{
        height: 22.35rem;
    }
    .container .signUpForm{
        top: 30rem;
    } 
    .container .logInForm{
        top: 3.75rem;
    }
    .container.active .toggle-container{
        animation: slideD 0.7s forwards;
    }
    .container .toggle-container{
        animation: slideU 0.7s forwards;
    }
    .container.active .logInForm{
        transform: translateY(0%);
    }
    .container .form-card{
        grid-template-columns: 18rem 18rem;
        column-gap: 3rem;
    }
    .container form h1{
        font-size: 36px;
    }
    .container form h5{
        font-size: 16px;
        width: 70%;
        margin-bottom: 2.3rem;
    }
}
@media screen and (max-width: 767px){
    
    :root{
        --start:1.5rem;
        --end:23em;
    }
    body{
        overflow: hidden;
    }
    .container{ 
        width: 22.25rem;
    }
    .toggle-container{
        height: 12rem;
        width: 100%;
        top: 1.5rem;
    }
    .toggle{
        height: 8rem;
        bottom: 0;
    }
    .container .signUpForm{
        top: 11rem;
    } 
    .container .logInForm{   
        scale: 1 0.7;
        top:auto;
        transform: translateY(-50%);
    }
    .container.active .toggle-container{
        animation: slideD 0.5s forwards;
    }
    .container .toggle-container{
        animation: slideU 0.5s forwards;
    }
    .container.active .signUpForm{
        transform: translateY(-30%);
        scale: 1 0.1;
    }
    .container.active .logInForm{
        top: 2rem;
        scale: 1 1;
    }
    .container .form-card{
        grid-template-columns: 100%;
    }   
    .container form h1{
        font-size: 32px;
    }
    .container form h5{
        font-size: 14px;
        width: 90%;
        margin-bottom: 1.75rem;
    }
    .container button{
        margin-top: 0;
    }
    .container form label{
        font-size: 24px;
    }
}
